PORT=3001
NODE_ENV=development
MONGO_URI=mongodb+srv://healsphere_admin:<password>@cluster0.durrofh.mongodb.net/healsphere?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=your_jwt_secret_key
FRONTEND_URL=http://localhost:5174

# Production (Render)
# NODE_ENV=production
# FRONTEND_URL=https://heal-sphere-blue.vercel.app
